* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/*em teste*/
:root {
  --cor-primaria: #3498db;   
  --cor-secundaria: #2ecc71; 
  --cor-texto: #333333;
  --cor-titulo:#ea4e4e;      
  --cor-fundo: #f5f5f5;
  --cor-bordas:#5721d4; 
  --cor-sombras: rgba(0,0,0,0.2);
}    
body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    /*color: #fdfafa;*/
    color: var(--cor-texto);
    padding: 20px;
}
/*container*/
.container {
    max-width: 1000px;
    margin: auto;
    background:var(--cor-primaria);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 10px 25px var(--cor-sombras);
}
h1,
h2 {
    margin-bottom: 20px;
    color:var(--cor-titulo);
}
/*cards*/
.card {
    background:var(--cor-fundo);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--cor-bordas);
}
/*campos e linhas*/
.linha {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
}
/*label e inputs*/
label {
    font-size: 15px;
    margin-bottom: 5px;
    color: var(--cor-texto);
}
input, 
select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--cor-bordas);
    outline: none;
    transition: 0.3s;
}
