* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body {
    height: 100vh;
}


.container {
    display: flex;
    height: 100vh;
}


/* div esquerda*/
.login-area {
    flex: 1;
    padding: 80px;
}


.login-area h1 {
    font-size: 36px;
}


.sub {
    color: #8f8b8bfe;
    margin: 10px 0 40px;
}


.campo {
    display: flex;
    align-items: center;
    border: 1px solid #d7bbbbbf;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
}


.campo input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    margin-left: 10px;
}


.btn-entrar {
    width: 100%;
    padding: 14px;
    background: #24a953;
    color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}


.erro {
    color: red;
    margin-top: 15px;
    display: none;
    text-align: center;
}


.links {
    margin-top: 30px;
    text-align: center;
}


.links a {
    color: #ff6a3d;
    text-decoration: none;
    font-size: 13px;
}


/* div direita */
.info-area {
    flex: 1;
    background: linear-gradient(180deg, #001f2d, #002f40);
    color: #ffffff;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.info-area h2 {
    font-size: 42px;
    line-height: 1.2;
}


.linha {
    width: 180px;
    height: 6px;
    background: #24a953;
    margin: 20px 0;
    border-radius: 4px;
}


.info-area p {
    font-size: 18px;
    max-width: 300px;
}


.logo {
    margin-top: auto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgb(227, 189, 117);
}


.logo span {
    font-size: 32px;
}


/* mudar para baixo */
@media (max-width: 900px) {


    .container {
        flex-direction: column;
    }


    .info-area {
        width: 100%;
        min-height: auto;
        padding: 20px;
        order: 2;
        
    }


    .login-area {
        width: 100%;
        order: 1;
        padding: 40px 20px;
    }
}